doctype html
html(lang=lang.lang)
	include ./includes/header.pug
	body(style='background: #030303 url("/static/media/bg/' + bg + '.jpg") center/cover no-repeat')
		include ./includes/nav.pug
		div#content.container.flex-grow.scrollable-content
			//- Project Description
			div.row.align-items-start.justify-content-center
				div.col-12.col-md-4.col-xl-3
					div.section.w-100
						a.text-bold(href=rootDir + activePage + '/' + activeCat) &laquo; Back to Projects
					div#project-description.section.w-100
						h2.alight #{projectData.name}
						if (projectData.subtitle && projectData.subtitle.en)
							h3.adark #{(projectData.subtitle[lang.lang] ? projectData.subtitle[lang.lang] : projectData.subtitle.en)}
						if (projectData.description && projectData.description.text && projectData.description.text.en)
							hr
							- var content = (projectData.description.text[lang.lang] ? projectData.description.text[lang.lang] : projectData.description.text.en);
							each v in content
								p #{v}
						if (projectData.url)
							a(href=projectData.url target='_blank')
								| #{projectData.url}
						if (projectData.urlInstruction && projectData.urlInstruction.en)
							div.img-caption #{(projectData.urlInstruction[lang.lang] ? projectData.urlInstruction[lang.lang] : projectData.urlInstruction.en)}
						if (projectData.contentType === 'img' && projectData.content.indexOf('%scale') !== -1)
							a(href=projectData.content.replace('%scale', '4096') target='_blank')
								| #{lang.photo.hd}
								| &raquo;
							hr.project-hr
						if (projectData.prints)
							a(href=projectData.prints target='_blank')
								| #{lang.photo.prints}
								| &raquo;
							hr.project-hr
							a(href=rootDir + 'contact?subject=' + encodeURIComponent('Photo Licensing: ' + projectData.name + ' (' + activeProj + ')'))
								| #{lang.photo.license}
								| &raquo;
							hr.project-hr
						if (projectData.pdf)
							a(href=projectData.pdf target='_blank')
								| #{lang.design.pdf}
								| &raquo;
						if(projectData.tech)
							div#project-tech-d.project-tech
								h3 #{lang.project.built}
								div.project-tech-list-d.project-tech-list
									each v in projectData.tech
										div.project-tech-item
											| &#8226;&nbsp;
											| #{v}
				//- Project Viewer
				div.col-12.col-md-8.col-xl-9
					div#project-viewer.section
						if projectData.contentType == 'img'
							div.text-center(data-img=projectData.content)
						else
							div(data-content=(projectData.content[lang.lang] ? projectData.content[lang.lang] : projectData.content.en))

				//- Tech Summary (Mobile)
				if(projectData.tech)
					div.col-12.col-md-4.col-xl-3
					div.col-12.col-md-8.col-xl-9
						div#project-tech-m.project-tech.section
							h3 #{lang.project.built}
							div#project-tech-list-m.project-tech-list(class=(projectData.tech.length > 1 ? 'flex-spacing-container' : ''))
								each v in projectData.tech
									div.project-tech-item
										| &#8226;&nbsp;
										| #{v}

		include ./includes/footer.pug
		script(src='/static/js/project-load.js')