mixin projectCard(project, projectId, catId, featured)
	mixin projectData
		div.project-card-img.d-flex.align-items-center.justify-content-center
			img(src=project.content.replace('%scale', '256') alt=project.title)
		div.project-card-title.alight.text-right #{project.name}
	a.project-card(class={'featured':featured} href=rootDir + activePage + '/' + catId + '/' + projectId)
		if featured
			div.featured-contents
				+projectData
		else
			+projectData

			

doctype html
html(lang=lang.lang)
	include ./includes/header.pug
	body(style='background: white;')
		include ./includes/nav.pug
		div#content.container.flex-grow.scrollable-content
			//- Project Description
			div.row
				div.section.col-12
					div.row.align-content-center.align-items-center.justify-content-around.flex-wrap
						each v, k in manifest
							if k !== 'default'
								// Cat default soon to be deprecated.
								each w, j in v.projects
									if Math.random() < 0.2
										+projectCard(w, j, k, true)
									else
										+projectCard(w, j, k)


		include ./includes/footer.pug
		script(src='/static/js/project.js')